{% extends "base/base.html" %}
{% block title %}Registro Donaciones{% endblock %}
{% block content %}
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <h3>Carga de Informes</h3>
                    </div>
                </div>
            </div>
        </section>
<section>
     <div class="container">
         <div class="appointment-form-wrapper clearfix">
             <h3 class="join-heading">Carga informe</h3>
             <form method='post' class="appoinment-form">
                 {% csrf_token %}
                 <br class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <label>{{form.pacinte.label}}</label>
                            <input  value="{{paciente.id}}" >
                        </div>
                    </div>
                 </div>
             </form>
         </div>
     </div>
</section>
{% endblock %}