<html>
<head>
    <title>Lista de Archivos</title>
    <script>
        setInterval(function(){window.location.reload();},90000)
    </script>
</head>
<body>
    <h1>Lista de Archivos</h1>
    <ul>
        {% for archivo in archivos %}
            <li>
                {{ archivo.paciente.user}}
                <a href="{% url 'mostrar_archivo' archivo.id %}" target="file_viewer">{{ archivo.titulo}}</a>
            </li>
        {% endfor %}
    </ul>
     <iframe name="file_viewer" style="width: 100%; height: 600px;" frameborder="0"></iframe>
</body>
</html>