{% extends "base/base.html" %}
{% block title %}Informes{% endblock %}
{% block extra_head %}
{% if request.user.is_authenticated and request.user.profesionalsalud.groups.name == "Profesional_Salud" %}
<script>
    setInterval(function(){window.location.reload();},{{ tiempo }});
</script>
{% endif %}
{% endblock %}
{% block content %}
{% if request.user.is_authenticated and request.user.profesionalsalud.groups.name == "Profesional_Salud" %}
<h1 class="mb-4">Lista de Informes </h1>
{% else %}
<h1 class="mb-4">Mis informes</h1>
{% endif %}

{% if informes %}
<ul class="list-group mb-4">
    {% for informe in informes %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>Fecha informe: {{ informe.fecha_informe|date:"d/m/Y" }}</strong>
        {% if request.user.is_authenticated and request.user.profesionalsalud.groups.name == "Profesional_Salud" %}
        <a href="{% url 'mostrar_archivo_profesional' informe.id %}" target="file_viewer" class="btn btn-primary btn-sm">{{ informe.titulo }}</a>
        {% else %}
        <a href="{% url 'mostrar_archivo_paciente' informe.id %}" target="file_viewer" class="btn btn-primary btn-sm">{{ informe.titulo }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="alert alert-info" role="alert">
    No hay archivos disponibles para este usuario.
</div>
{% endif %}

<iframe name="file_viewer" style="width: 100%; height: 600px;" frameborder="0"></iframe>
{% endblock %}







