{% extends 'base/base.html' %}

{% block title %}Registro de Profesional de la Salud{% endblock %}

{% block content %}
{% if private_key %}
        <div class="alert alert-success">
            <p>Su clave privada es:</p>
            <textarea id="privateKey" rows="10" readonly>{{ private_key }}</textarea>
            <button id="copyButton">Copiar clave privada</button>
            <button id="redirectButton" style="display: none;">Volver al inicio</button> <!-- Botón de redirección oculto por defecto -->
        </div>
    {% endif %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
<section class="page-header bg-primary text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>REGISTRO DE PROFESIONAL DE SALUD</h3>
            </div>
        </div>
    </div>
</section>

<section class="section-appointment py-5">
    <div class="container">
        <div class="appointment-form-wrapper clearfix">
            <form method='post' class="appoinment-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <label>{{ form2.username.label }}</label>
                            <input type="text" name="{{ form2.username.html_name }}"
                                   value="{{ form2.username.value | default_if_none:'' }}"
                                   class="form-control {% if form2.errors.username %} is-invalid {% endif %}" required>
                            {% for error in form2.username.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <label>{{ form2.first_name.label }}</label>
                            <input type="text" name="{{ form2.first_name.html_name }}"
                                   value="{{ form2.first_name.value | default_if_none:'' }}"
                                   class="form-control {% if form2.errors.first_name %} is-invalid {% endif %}" required>
                            {% for error in form2.first_name.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <label>{{ form2.last_name.label }}</label>
                            <input type="text" name="{{ form2.last_name.html_name }}"
                                   value="{{ form2.last_name.value | default_if_none:'' }}"
                                   class="form-control {% if form2.errors.last_name %} is-invalid {% endif %}" required>
                            {% for error in form2.last_name.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <label>{{ form2.password1.label }}</label>
                            <input type="password" name="{{ form2.password1.html_name }}"
                                   value="{{ form2.password1.value | default_if_none:'' }}"
                                   class="form-control {% if form2.errors.password1 %} is-invalid {% endif %}" required>
                            {% for error in form2.password1.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <label>{{ form2.password2.label }}</label>
                            <input type="password" name="{{ form2.password2.html_name }}"
                                   value="{{ form2.password2.value | default_if_none:'' }}"
                                   class="form-control {% if form2.errors.password2 %} is-invalid {% endif %}" required>
                            {% for error in form2.password2.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <label>{{ form2.email.label }}</label>
                            <input type="email" name="{{ form2.email.html_name }}"
                                   value="{{ form2.email.value | default_if_none:'' }}"
                                   class="form-control {% if form2.errors.email %} is-invalid {% endif %}" required>
                            {% for error in form2.email.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <label>{{ form.matricula.label }}</label>
                            <input type="text" name="{{ form.matricula.html_name }}"
                                   value="{{ form.matricula.value | default_if_none:'' }}"
                                   class="form-control {% if form.errors.matricula %} is-invalid {% endif %}" required>
                            {% for error in form.matricula.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <label>{{ form.domicilio_consultorio.label }}</label>
                            <input type="text" name="{{ form.domicilio_consultorio.html_name }}"
                                   value="{{ form.domicilio_consultorio.value | default_if_none:'' }}"
                                   class="form-control {% if form.errors.domicilio_consultorio %} is-invalid {% endif %}" required>
                            {% for error in form.domicilio_consultorio.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <label>{{ form.especialidad.label }}</label>
                            <input type="text" name="{{ form.especialidad.html_name }}"
                                   value="{{ form.especialidad.value | default_if_none:'' }}"
                                   class="form-control {% if form.errors.especialidad %} is-invalid {% endif %}" required>
                            {% for error in form.especialidad.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1 d-flex justify-content-center">
                        <div class="form-group mt-4">
                            <button class="btn btn-primary btn-submit" type="submit" role="button">Registrar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const copyButton = document.getElementById("copyButton");
        const copyText = document.getElementById("privateKey");
        const redirectButton = document.getElementById("redirectButton");

        if (copyButton && copyText) {
            copyButton.addEventListener("click", function() {
                // Utilizando la API de portapapeles moderna
                navigator.clipboard.writeText(copyText.value)
                .then(function() {
                    alert("Clave privada copiada al portapapeles");
                    // Activar el botón de redirección
                    if (redirectButton) {
                        redirectButton.style.display = "inline-block"; // Mostrar el botón de redirección
                    }
                })
                .catch(function(err) {
                    alert("Error al copiar la clave: " + err);
                });
            });
        }

        // Asignar evento al botón de redirección
        if (redirectButton) {
            redirectButton.addEventListener("click", function() {
                window.location.href = "{% url 'inicio' %}"; // Redirigir a la URL de inicio
            });
        }
    });
    </script>
</section>
{% endblock %}