{% extends "base/base.html" %}
{% block title %}Página Inicio{% endblock %}
{% block content %}
<section class="section-appointment-acceso">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                <div class="appointment-form-wrapper-acceso text-center p-4 shadow-sm">
                    <h2 class="mb-4">Gestionar Acceso</h2>
                    <p class="lead mb-4">Elige si quieres permitir o denegar el acceso a tus archivos.</p>
                    <div class="col-md-12">
                        {% if request.user.is_authenticated %}
                        <a class="btn btn-success btn-lg" href="{% url 'permitir_acceso' medico_id paciente_id %}" role="button">Permitir Acceso</a>
                        <a class="btn btn-danger-acceso btn-lg mr-3" href="{% url 'denegar_acceso' medico_id paciente_id %}" role="button">Denegar Acceso</a>
                        {% endif %}
                    </div>
                </div> <!-- end .appointment-form-wrapper -->
            </div> <!-- end .col-lg-6 -->
        </div> <!-- end .row -->
    </div> <!-- end .container -->
</section> <!-- end .appointment-section -->
{% endblock %}









