{% extends "base/base.html" %}
{% block title %}Pagina Inicio{% endblock %}
{% block content %}
{% load static %}
<html lang="es" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthTrack</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href= "{% static 'css/bootstrap.css' %}" />
    <!--style CSS-->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
  </head>
  <body>
    <section class="section-appointment">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="appointment-form-wrapper text-center clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {% if request.user.is_authenticated %}
                                <a type="button" class="btn btn-danger" href="{% url 'logout' %}" role="button">Cerrar Sesión</a>
                                {% else %}
                                <a button type="button" class="btn btn-success" href="{% url 'login' %}">Iniciar Sesión</button></a>
                                {% endif %}
                            </div>
                    </div> <!-- end .appointment-form-wrapper  -->
                </div> <!--  end .col-lg-6 -->
            </div> <!--  end .row  -->
        </div> <!--  end .container -->
    </section>  <!--  end .appointment-section  -->
{% endblock %}
  </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</html>